#darkmode {
    align-self: flex-end;
    position: absolute;
    right: 10px;
}

.card-style {
    width: 200px;
}
.product-grid {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}